@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

/* Local Fonts */

@font-face {
    font-family: 'NetflixSans';
    src: url('./assets/fonts/NetflixSans-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('./assets/fonts/NetflixSans-Bold.otf') format('opentype');
    font-weight: bold;
}